/* CSS Reset */
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a,
address {
  text-decoration: none;
  outline: none;
  font-style: normal;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
